<script type="text/template" data-template="cta-register">
  <a class="btn btn-outline-* sign-up-btn bottom-shadow w-100 mt-5 mb-5 container" href="https://x.piratar.is/accounts/register/" target="_blank">
    <h2 class="cta">{{ site.data.translations[page.lang].join_party }}</h2>
  </a>
</script>

<script type="text/template" data-template="cta-newsletter">
  {% include cta-newsletter.html %}
</script>

<script type="text/template" data-template="cta-donate">
  <a class="btn btn-outline-* sign-up-btn bottom-shadow w-100 mt-5 mb-5 container" href="/styrkja">
    <h2 class="cta">{{ site.data.translations[page.lang].donate }}</h2>
  </a>
</script>

<script type="text/template" data-template="cta-association">
  <a class="btn btn-outline-* sign-up-btn bottom-shadow w-100 mt-5 mb-5 container" href="/adildarfelog/stofna">
    <h2 class="cta">{{ site.data.translations[page.lang].found_association }}</h2>
  </a>
</script>

<script type="text/template" data-template="cta-vote">
  <a class="btn btn-outline-* sign-up-btn bottom-shadow w-100 mt-5 mb-5 container" href="https://x.piratar.is/accounts/register/" target="_blank">
    <h2 class="cta">{{ site.data.translations[page.lang].democracy_system }}</h2>
  </a>
</script>