<script type="text/template" data-template="cta-register">
  <a class="btn btn-outline-* sign-up-btn" href="https://x.piratar.is/accounts/register/" target="_blank">
    <h2 class="cta">{{ site.data.translations[page.lang].join_party }}</h2>
  </a>
</script>

<script type="text/template" data-template="cta-newsletter">
  <a class="btn btn-outline-*" href="https://x.piratar.is/accounts/register/" target="_blank">
    <h2 class="cta">{{ site.data.translations[page.lang].newsletter_signup }}</h2>
  </a>
</script>