<section class="events container-fluid mt-5">
  <div class="swiper-container container">
    <div class="swiper-wrapper">
      {% for event in include.events %}
      <div class="swiper-slide">
        <div class="event-box">
          <h3>{{ event.title }}</h3>
          <a class="link" href="{{ event.url }}">{{ site.t[page.lang].see_event }}</a>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

</section>