<section class="events container-fluid mt-5 mb-5">
  <script type="text/template" data-template="event">
      <div class="swiper-slide" id="slide-${id}">
        <div class="event-card">
          <div class="row justify-content-between">
            <div class="time">${time}</div>
            <div class="date">
              <div class="month">${date}</div>
              <div class="day text-uppercase">${day}</div>
            </div>
          </div>
          <div class="row flex-grow-1 ">
            <h3 class="title">${title}</h3>
          </div>
          <div class="row description">
            ${description}
          </div>
          <div class="row location mt-3 mb-3 flex-grow-1">
            ${location}
          </div>
          <div class="share mt-3">
            <div class="row messenger">
              <button href="" class="btn btn-outline-* msg-btn icon-btn">                
                <div class="icon icon-messenger"></div>
                <span>{{ site.data.translations[page.lang].share_event }}</span>
              </button>
            </div>
            <div class="row dropup calendar mt-2">
              <button id="calendarDropdown" type="button" class="btn btn-outline-* justify-content-between cal-btn icon-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="d-flex flex-row">
                  <div class="icon icon-mail"></div>
                  <span >{{ site.data.translations[page.lang].add_to_calendar }}</span>
                </div>
                <div class="icon icon-arrow-down"></div>
                <div class="icon icon-arrow-up"></div>
              </button>
              <div class="dropdown-menu" aria-labelledby="calendarDropdown">
                  ${ical}
                  ${gcal}
                  ${outlook}
              </div>
            </div>
            <div class="row register mt-3">
              <button type="button" class="btn btn-* register-btn" id="register-${id}">{{ site.data.translations[page.lang].register_event }}</button>
            </div>
          </div>
        </div>
      </div>
  </script>
  <div class="swiper-container container">
    <div class="swiper-wrapper">
    </div>
  </div>
  <div class="swiper-button-next" style="display: none"></div>
  <div class="swiper-button-prev" style="display: none"></div>
  {% if page.lang == 'en' %}
  {% assign all_pages = site.pages-en %}
  {% elsif page.lang == 'pl' %}
  {% assign all_pages = site.pages-pl %}
  {% else %}
  {% assign all_pages = site.pages-is %}
  {% endif %}
  {% assign all_events = all_pages | where: "layout", "events" %}
  {% assign all_events_url = all_events[0].url %}
  {% assign all_events_text = site.data.translations[page.lang].see_all_events %}
  {% include see-all-articles.html url=all_events_url text=all_events_text %}
</section>
<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
