<footer class="footer mt-5" role="contentinfo">
  <nav class="main-footer" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="nav-col col-md-4 col-sm-12 col-lg-3">
          <img class="footer-logo" height="65" src="/assets/img/logo-gray.png" alt="Píratar" aria-label="logo"/>
          <div class="info">
            <p class="address">Píratar, {{ site.data.piratar.address }}</p>
            <p>{{ site.data.translations[page.lang].telephone}} <a class="cta" href="tel:{{ site.data.piratar.phone }}">{{ site.data.piratar.phone }}</a></p>
            <p>{{ site.data.translations[page.lang].email}}: <a class="cta" href="mailto:{{ site.data.piratar.email }}">{{ site.data.piratar.email }}</a></p>
            <p>{{ site.data.translations[page.lang].id_number}}: {{ site.data.piratar.kennitala }} </p>
            <p>{{ site.data.translations[page.lang].account_number}}: {{ site.data.piratar.reikningsnumer }}</p>
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-lg-9 mt-4">
          <div class="row">
            {% for link in site.data.navigation.footer.[page.lang] %}
            <div class="nav-col col-xl-3 col-lg-4 col-sm-6 col-xs-12">
              <h3 class="nav-title">{{ link.title}}</h3>
              <ul class="nav">
                {% for child in link.sub %}
                <li>
                  <a href="{{ child.url }}" {% if child.cta %} class="cta" {% endif %}>{{ child.title }}</a>
                </li>
                {% endfor %}
                {% if link.email %}
                <li>
                  <a href="mailto:{{ link.email }}" class="cta">Hafa samband</a>
                </li>
                {% endif %}
              </ul>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </nav>
  <nav class="row-small">
    <div class="container">
      <div class="row justify-content-center">
        {% assign social = site.data.piratar.social %}
        {% if social.facebook %}
        <a href="{{ social.facebook }}" class="icon icon-facebook mx-2"><span class="sr-only">Facebook</span></a>
        {% endif %}
        {% if social.instagram %}
        <a href="{{ social.instagram }}" class="icon icon-instagram mx-2"><span class="sr-only">Instagram</span></a>
        {% endif %}
        {% if social.youtube %}
        <a href="{{ social.youtube }}" class="icon icon-youtube mx-2"><span class="sr-only">Youtube</span></a>
        {% endif %}
        {% if social.twitter %}
        <a href="{{ social.twitter }}" class="icon icon-twitter mx-2"><span class="sr-only">Twitter</span></a>
        {% endif %}
        {% if social.github %}
        <a href="{{ social.github }}" class="icon icon-github mx-2"><span class="sr-only">Github</span></a>
        {% endif %}
      </div>
      <div class="row justify-content-end">
        <div class="nav-col">
          <small class="copyright">© {{ 'now' | date: "%Y" }} Píratar Ísland</small>
        </div>
      </div>
    </div>
  </nav>
</footer>

<!-- Javascript -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js"></script>
<script src="{{ "/assets/js/main.js" | absolute_url }}" type="text/javascript"></script>
</body>

</html>