<section class="hero">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for hero in site.data.hero %}
        {% if hero.url %}
        <a href="{{ hero.url }}" class="swiper-slide" style="background-image: url('{{ hero.image }}');">
        {% else %}
        <div class="swiper-slide" style="background-image: url('{{ hero.image }}');">
        {% endif %}
        {% if hero.url %}
        </a>
        {% else %}
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
