<div class="container-fluid">

  <div class="row">
    <div class="col-md-6 ml-auto">
      <h5>
        Nýjustu umræður á
        <a href="https://spjall.piratar.is" target="_blank" style="text-decoration: underline">Spjallinu</a>
      </h5>
      <div id="the_target"> </div>
    </div>
  </div>

  <script charset="utf-8">

    var the_target = document.getElementById('the_target');

    // Now using Mock data
    var the_list = document.createElement('ul');

    function dataToList(thedata) {
      for(let i = 0; i < thedata.length; i++){
        item = thedata[i];
        if(i > 6){
          break
        };
        var li = document.createElement('li');
        var a = document.createElement('a');
        var linkText = document.createTextNode(item.title)
        a.appendChild(linkText);
        a.title = item.title;
        a.href = 'https://spjall.piratar.is/t/' + item.slug;
        a.target = '_blank';
        li.appendChild(a);
        the_list.appendChild(li);
      };
      document.getElementById('the_target').appendChild(the_list);
    }

    // Need to enable CORS on discourse server
    fetch('https://spjall.piratar.is/latest.json?format=json')
    .then(response => {
      console.log(1, response);
      if(!response.ok){
        throw new Error(response.status);
      }
      return response.json()
    })
    .then(the_data => {
      console.log(2, the_data);
      dataToList(the_data.topic_list.topics);
    })
    .catch(err => {
      console.error(3, err);
      // If error, use mock_data - we could also just say there is an error?
      document.getElementById('the_target').appendChild(document.createTextNode('Ekkert fannst...'));
    })

  </script>

</div>
