<section class="list-items container-fluid mb-5">
  {% for item in include.list %}
  <div class="item" {% if item.category %} data-category="{{ item.category }}" {% endif %}>
    <div class="image" style="background-image: url('{{ item.image }}');"></div>
    <h4 class="title mt-4">{{ item.title }}</h4>
    <p class="description w-100">{{ item.description }}</p>
    <a href="{{ item.url }}" class="more cta underline">{{ site.data.translations[page.lang].see_more }}</a>
  </div>
  {% endfor %}
</section>