{% assign url = page.url | remove:'index.html' %}
{% if page.image and page.banner %}
<header class="site-header header-banner" style="background-image:url('{{ page.image }}');">
  {% else %}
  <header class="site-header">
    {% endif %}
    <nav class="navbar pt-3">
      <div class="container-fluid align-items-start">
        <a class="navbar-brand pl-0" href="{{ site.data.languages[page.lang].url }}">
          <img src="{{ "/assets/img/logo.png" | absolute_url }}" alt="Píratar">
        </a>
        <div class="navbar-right pr-0">
          <button type="button" class="btn icon icon-search" id="desktop-nav-search">
            <span class="sr-only">Search</span>
          </button>
          <button class="navbar-toggler collapsed btn p-0" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse" id="navbar">
          <div class="nav-options">
            <div class="sticky">
              <button class="navbar-toggler collapsed btn" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar dark"></span>
                <span class="icon-bar dark"></span>
                <span class="icon-bar dark"></span>
              </button>
            </div>
            <div class="nav-upper d-flex">
              <ul class="navbar-nav lang-nav">
                {% for language in site.data.languages%}
                <li class="nav-item">
                  <a href="{{ language[1].url }}"
                    class="nav-link text-uppercase {% if language[0] == page.lang %} active {% endif %}">
                    {{ language[0] }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="nav-lower">
              <ul class="navbar-nav icon-nav">
                <li class="nav-item">
                  <a class="nav-link" href="https://x.piratar.is" target="_blank">
                    <div class="icon icon-home"></div><span>x.piratar.is</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/hladvarp" target="_blank">
                    <div class="icon icon-podcast"></div><span>{{ site.data.translations[page.lang].podcast }}</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/events" target="_blank">
                    <div class="icon icon-events"></div><span>{{ site.data.translations[page.lang].events }}</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://spjall.piratar.is">
                    <div class="icon icon-speech"></div><span>{{ site.data.translations[page.lang].pirate_chat }}</span>
                  </a>
                </li>
              </ul>
              <ul class="navbar-nav main-nav">
                {% for link in site.data.navigation.menu.[page.lang] %}
                {% if link.sub %}
                <li class="nav-item">
                  <h4 class="nav-title">
                    {{ link.title }}
                  </h4>
                  <div class="submenu p-0">
                    {% for child in link.sub %}
                    <a href="{{ child.url | absolute_url }}" class="submenu-item">
                      {{ child.title }}
                    </a>
                    {% endfor %}
                  </div>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link {% if link.cta %} cta {% endif %}" href="{{ link.url | absolute_url }}">
                    {{ link.title }}
                  </a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
              <ul class="navbar-nav icon-nav">
                <li class="nav-item"><a class="nav-link" href="/stillingar" target="_blank">
                    <div class="icon icon-gear"></div><span>{{ site.data.translations[page.lang].preferences }}</span>
                  </a></li>
              </ul>
            </div>
          </div>
        </div>
        {% include search-overlay.html %}
      </div>
    </nav>
  </header>