{% comment %}
Displays the site's navigation
{% endcomment %}

{% assign url = page.url | remove:'index.html' %}
<header class="site-header">
  <nav class="navbar navbar-expand-lg p-0">
    <div class="container-fluid">
      <div class="navbar-inner-background"></div>
      <a class="navbar-brand" href="/">
        <img src="{{ "/assets/img/logo.png" | absolute_url }}" alt="Píratar">
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse flex-md-column" id="navbar">
        <div class="nav-options ml-auto bottom-shadow">
          <ul class="navbar-nav lang-nav">
            {% for language in site.data.languages%}
            <li class="nav-item">
              <a href="{{ language.url }}"
                class="nav-link text-uppercase {% if language.key == page.lang %} active {% endif %}">
                {{ language.key }}
              </a>
            </li>
            {% endfor %}
          </ul>
          <ul class="navbar-nav pirate-nav">
            {% for link in site.data.navigation.navigation.[page.lang] %}
            {% if link.sub %}
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" id="navbarDropdown-{{ forloop.index }}" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{ link.title }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown-{{ forloop.index }}">
                {% for child in link.sub %}
                <a href="{{ child.url | absolute_url }}" class="dropdown-item">
                  {{ child.title }}
                </a>
                {% endfor %}
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link {% if link.cta %} cta {% endif %}" href="{{ link.url | absolute_url }}">
                {{ link.title }}
              </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>