{% assign url = page.url | remove:'index.html' %}
<header class="site-header">
  <nav class="navbar pt-3">
    <div class="container-fluid align-items-start">
      <button class="navbar-toggler collapsed btn p-0" type="button" data-toggle="collapse" data-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="main-logo pl-0" aria-label="Go home" href="{{ site.data.languages[page.lang].url }}">
        <img src="{{ "/assets/img/logo.png" | absolute_url }}" alt="Píratar logo">
      </a>
      <div class="search">
        <button type="button" class="btn icon icon-search p-0" id="desktop-nav-search">
            <span class="sr-only">Search</span>
          </button>
          <a id="exit-search" style="display: none;" href="#"><div class="icon icon-close svg-close"><span class="sr-only">Exit search</span></div></a>
      </div>
      <div class="navbar-collapse" id="navbar">
        <div class="nav-options">
          <div class="sticky">
            <button class="navbar-toggler collapsed btn" type="button" data-toggle="collapse" data-target="#navbar"
              aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-bar dark"></span>
              <span class="icon-bar dark"></span>
              <span class="icon-bar dark"></span>
            </button>
          </div>
          <div class="nav-upper d-flex">
            <ul class="navbar-nav lang-nav">
              {% for language in site.data.languages%}
              <li class="nav-item">
                <a href="{{ language[1].url }}"
                  class="nav-link text-uppercase {% if language[0] == page.lang %} active {% endif %}">
                  {{ language[0] }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="nav-lower">
            {% assign upper = site.data.burger-menu.[page.lang].upper %}
            <ul class="navbar-nav icon-nav">
              <li class="nav-item">
                <a class="nav-link" href="{{ upper.democracy.url }}" target="_blank">
                  <div class="icon icon-home"></div><span>{{ upper.democracy.title }}</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ upper.podcasts.url }}" target="_blank">
                  <div class="icon icon-podcast"></div><span>{{ upper.podcasts.title }}</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ upper.events.url }}" target="_blank">
                  <div class="icon icon-events"></div><span>{{ upper.events.title}}</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ upper.chat.url }}">
                  <div class="icon icon-speech"></div><span>{{ upper.chat.title }}</span>
                </a>
              </li>
            </ul>
            <ul class="navbar-nav main-nav">
              {% for link in site.data.burger-menu.[page.lang].main %}
              {% if link.sub %}
              <li class="nav-item">
                {% if link.url and link.url != '' %}
                  <a href="{{ link.url | absolute_url }}">
                    <h4 class="nav-title">{{ link.title }}</h4>
                  </a>
                {% else %}
                  <h4 class="nav-title">{{ link.title }}</h4>
                {% endif %}
                <div class="submenu p-0">
                  {% for child in link.sub %}
                  <a href="{{ child.url | absolute_url }}" class="submenu-item">
                    {{ child.title }}
                  </a>
                  {% endfor %}
                </div>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link {% if link.cta %} cta {% endif %}" href="{{ link.url | absolute_url }}">
                  {{ link.title }}
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
            {% comment %}
            Preferences are not ready and will not be displayed in menu

            {% assign lower = site.data.burger-menu.[page.lang].lower %}
            <ul class="navbar-nav icon-nav">
              <li class="nav-item"><a class="nav-link" href="{{ lower.preferences.url }}" target="_blank">
                  <div class="icon icon-gear"></div><span>{{ lower.preferences.title }}</span>
                </a>
              </li>
            </ul>
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
{% include search-overlay.html %}