<section class="news container-fluid mt-5 mb-5">
  <script type="text/template" data-template="post">
      <div class="swiper-slide">
        <div class="news-card">
          <h3 class="title">${title}</h3>
        </div>
      </div>
    </script>
  <script type="text/template" data-template="post-split">
    <div class="swiper-slide split">
      <div class="news-card">
        <h3 class=title>${title}</h3>
      </div>
      <div class="news-card">
        <h3 class=title>${title}</h3>
      </div>
    </div>
  </script>
  <div class="swiper-container container">
    <div class="swiper-wrapper">
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</section>
