{% assign representatives_page = site.pages | where: "layout", "representatives" | where: "lang", page.lang %}
{% assign representatives_page_url = representatives_page[0].url %}
{% assign representative = site.pages | where: "layout", "representative" | where: "representative", page.representative %}
{% assign category = representative[0].category %}
<nav class="representative-filters mt-5">
	<ul>
		<li {% if category == 'parliament' %} class="active" {% endif %}>
			<a href="{{ representatives_page_url }}?category=parliament"
				class="underline category">{{ site.data.translations[page.lang].reps_parliament }}</a>
			<div class="sub-menu">
				{% assign reps = site.pages | where:"layout","representative" | where:"category", "parliament"| where:"lang", page.lang %}
				<ul>
					{% for rep in reps %}
					<li><a href="{{ rep.url }}"
							class="underline representative {% if page.representative == rep.representative %}active{% endif %}">{{ rep.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</li>
		<li {% if category == 'municipal' %} class="active" {% endif %}>
			<a href="{{ representatives_page_url
				 }}?category=municipal" class="underline category">{{ site.data.translations[page.lang].reps_municipal }}</a>
			<div class="sub-menu">
				{% assign reps = site.pages | where: "layout","representative" | where: "category", "municipal" | where: "lang", page.lang %}
				<ul>
					{% for rep in reps %}
					<li>
						<a href="{{ rep.url }}"
							class="underline representative {% if page.representative == rep.representative %}active{% endif %}">{{ rep.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</li>
	</ul>
</nav>
