<div id="search-container" class="d-none">
  <div class="container mt-5">
    <form id="search-form" class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input id="search-box" autocomplete="off" type="text" name="query" aria-label="Search"
          placeholder="{{ site.data.translations[page.lang].search_placeholder }}">
      </div>
    </form>
    <div id="search-results"></div>
    <div id="no-results" class="d-none">
      <div class="result">
        <p class="result-title">{{ site.data.translations[page.lang].no_results }}</p>
      </div>
    </div>
  </div>
</div>