<div id="search-container" class="d-none">
  <nav class="navbar">
    <a class="navbar-brand" href="/">
      <img src="{{ "/assets/img/logo.png" | absolute_url }}" alt="Píratar">
    </a>
    <a id="exit-search" href="#"><div class="icon icon-close svg-close"></div>
    </a>
</nav>
  <div class="container">
    <form id="search-form" class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input id="search-box" autocomplete="off" type="text" name="query"
          placeholder="{{ site.data.translations[page.lang].search_placeholder }}">
      </div>
    </form>
    <div id="search-results"></div>
    <div id="no-results" class="d-none">
      <div class="result">
        <p class="result-title">{{ site.data.translations[page.lang].no_results }}</p>
      </div>
    </div>
  </div>
</div>