<div id="search-container" class="d-none">
  <nav class="navbar">
    <a class="navbar-brand" href="/">
      <img src="{{ "/assets/img/logo.png" | absolute_url }}" alt="Píratar">
    </a>
    <a id="exit-search" href="#"><svg class="svg-close" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 19.88 19.88">
        <defs></defs>
        <title>SearchX</title>
        <polygon
          points="19.68 2.79 16.82 0 9.9 7.11 2.79 0.2 0 3.07 7.11 9.98 0.2 17.1 3.07 19.88 9.98 12.77 17.09 19.68 19.88 16.82 12.77 9.9 19.68 2.79">
        </polygon>
      </svg>
    </a>
</nav>
  <div class="container">
    <form id="search-form" class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input id="search-box" autocomplete="off" type="text" name="query"
          placeholder="{{ site.data.translations[page.lang].search_placeholder }}">
      </div>
    </form>
    <div id="search-results"></div>
    <div id="no-results" class="d-none">
      <div class="result">
        <p class="result-title">{{ site.data.translations[page.lang].no_results }}</p>
      </div>
    </div>
  </div>
</div>