.article-banner {
  max-width: 1440px;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  .title-wrapper {
    color: $pirate-white;
    align-self: end;
    padding: 40px;
    text-transform: uppercase;
    width: 100%;
    box-shadow: inset 0px -160px 90px -90px black;
    background: linear-gradient(0deg, black 0, transparent 100%);
    margin: 0;
    @media (max-width: 991px) {
      padding: 26px;
      box-shadow: none;
    }
  }
  .title {
    width: 60%;
    @media (max-width: 991px) {
      width: 90%;
      font-size: 28px;
    }
  }
}

section.article {
  background-color: $pirate-white;
  max-width: 1440px;
  color: $pirate-dark-black;
  .col {
    padding: 30px 40px;
    margin: 10px 0;
    &.col-small {
      .heading {
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: 600;
      }
    }
  }
  .col-main {
    padding-left: 40px;
    padding-right: 40px;
    @media (min-width: 992px) {
      border-left: 1px solid $pirate-black;
      border-right: 1px solid $pirate-black;
    }
  
    .title {
      margin-bottom: 22px;
      font-size: 36px;
      @media (max-width: 991px) {
        font-size: 28px;
      }
    }
    .sub-heading {
      margin-bottom: 22px;
      font-style: italic;
    }
  }
  .right {
    .news-card {
      margin-bottom: 22px;
      .date {
        margin-top: 0.5em;
        font-size: 14px;
      }
      .image {
        height: 150px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      .title {
        font-size: 14px;
        font-weight: 500;
      }
      a {
        color: $pirate-dark-black;
        &:hover {
          text-decoration: none;
        }
      }
      @media (max-width: 420px) {
        margin: 0em 20px 10px 0;
        max-width: 330px;
      }
    }
  }
}

section.other-articles {
  max-width: 1440px;
}
