.article-page {
  .swiper-slide {
    background: $pirate-dark-black;
    color: $pirate-white;
    max-width: 355px;
    margin-right: 25px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    @media (max-width: 420px) {
      margin-right: 10px;
      max-width: 300px;
    }
  }
}
