@import "colors";

body {
  background-color: $pirate-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  color: $pirate-white;
  &:hover {
    color: $pirate-white;
  }
  &.active {
    color: $pirate-orange;
  }

  &.gray {
    color: $pirate-gray;
  }
}
.cta {
  color: $pirate-orange;
  &:hover {
    color: $pirate-orange;
  }
}

.btn:focus {
  box-shadow: none;
}

.dropdown, .dropup {
  .dropdown-menu {
    border-radius: 0;

    .dropdown-item {
      padding: 0.75rem 1.5rem;
      &:hover {
        color: inherit;
        background-color: transparent;
      }
    }
  }
}

.bottom-shadow {
  box-shadow: 0px 20px 30px -5px $pirate-dark-black;
}

section {
  max-width: 1440px;
}

@media (min-width: 1850px) {
  .container {
    max-width: 1440px;
  }
}