body {
  background-color: $pirate-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-size: 16px;
  overflow-x: hidden;
  color: $pirate-white;
}

a {
  color: $pirate-white;
  &:hover {
    color: $pirate-white;
  }
  &.active {
    color: $pirate-orange;
  }

  &.gray {
    color: $pirate-gray;
  }
  &.cta-btn {
    border: 1px solid $pirate-gray;
    padding: 20px 20px;
    &:hover {
      border-color: $pirate-orange;
      text-decoration: none;
    }
  }
}
.cta {
  color: $pirate-orange;
  &:hover {
    color: $pirate-orange;
  }
}

strong {
  color: $pirate-orange;
}

.dropdown, .dropup {
  .dropdown-menu {
    border-radius: 0;

    .dropdown-item {
      padding: 0.75rem 1.5rem;
      &:hover {
        color: inherit;
        background-color: transparent;
      }
    }
  }
}
.white-background {
  background-color: $pirate-white;
  color: $pirate-black;
}

.bottom-shadow {
  box-shadow: 0px 20px 30px -5px #000;
  background-color: $pirate-light-black;
  &:focus {
    box-shadow: inherit
  }
}

section {
  max-width: 1440px;
}

@media (min-width: 1850px) {
  .container {
    max-width: 1440px;
  }
  section {
    max-width: 1600px;
  }
}
