.swiper-button-disabled {
  display: none;
}

.swiper-button-next {
  background-image: url("/assets/img/arrow-right.svg");
  @media (max-width: 420px) {
    display: none;
  }
}

.swiper-button-prev {
  background-image: url("/assets/img/arrow-left.svg");
  @media (max-width: 420px) {
    display: none;
  }
}
