
$pirate-purple: #4A3584;
$pirate-orange: #ff4f20;
$pirate-white: #fcfcfc;
$pirate-light-black: #1c1e1f;
$pirate-black: #151819;
$pirate-dark-black: #151415;
$pirate-gray: #606060;
$pirate-light-gray: #b3b3b3;
$pirate-caribbean-blue: #057D80;
$pirate-blue: #170B33;