@import "colors";

.events {
  position: relative;
  max-width: 1300px;
  .swiper-slide {
    background: $pirate-purple;
    padding: 1.5em;
    color: $pirate-white;
    &.swiper-slide-active {
      background-color: lighten($pirate-purple, 20%);
    }
    &.swiper-slide-next {
      background-color: lighten($pirate-purple, 10%);
    }
  }

  .event-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    .link {
      margin: 10px 0;
    }
  }
}
