.footer {
  color: $pirate-light-gray;
  .container-fluid {
    max-width: 1440px;
  }
  .main-footer {
    padding: 60px 0;
    background-color: black;
    .info {
      p {
        line-height: 24px;
        margin: 0;
        font-size: 14px;
      }
    }
    .nav-col {
      padding-bottom: 60px;
      padding-left: 30px;
      .nav-title {
        font-size: 20px;
        color: $pirate-white;
        padding-bottom: 12px;
        &::before {
          display: block;
          position: relative;
          top: -20px;
          border-bottom: 1px solid $pirate-orange;
          content: "";
          width: 85%;
          max-width: 200px;
        }
      }
      a {
        color: $pirate-light-gray;
        &:hover {
          color: $pirate-white;
          text-decoration: none;
        }
        &.cta {
          color: $pirate-orange;
          &:hover {
            color: $pirate-white;
            text-decoration: none;
          }
        }
      }
      li {
        font-size: 14px;
        width: 100%;
        padding: 5px 0;
      }
    }
  }
  .row-small {
    margin-top: 60px;
    padding-bottom: 20px;
    .nav-col {
      color: $pirate-gray;
      a {
        color: inherit;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
