.hero {
  .swiper-slide {
    video {
      width: 100%;
      max-height: 40vw;
      object-fit: fill;
    }
    &.image {
      width: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      height: 40vw;
    }
    .overlay-text {
      margin-top: 56px;
      width: 35%;
      padding: 50px;
      padding-top: 10vh;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      a {
        color: $pirate-orange;
        text-decoration: underline;
        &:hover {
          color: $pirate-white;
        }
      }
    }
  }
}
