.icon {
    margin-right: 12px;
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
    background-size: contain;
    &.icon-messenger {
      background-image: url("/assets/img/messenger.svg");
    }
    &.icon-mail {
      background-image: url("/assets/img/mail.svg");
    }
    &.icon-arrow-down {
      background-image: url("/assets/img/arrow-down.svg");
      height: 14px;
      width: 26px;
    }
    &.icon-arrow-up {
      background-image: url("/assets/img/arrow-up.svg");
      height: 14px;
      width: 26px;
    }
    &.icon-search {
      background-image: url("/assets/img/search-icon.svg");
      height: 23px;
      width: 23px;
      margin-right: 0;
    }
    &.icon-facebook-shadow {
      background-image: url("/assets/img/facebook-shadow-icon.svg");
      height: 32px;
      width: 32px;
    }
    &.icon-instagram-shadow {
      background-image: url("/assets/img/instagram-shadow-icon.svg");
      height: 32px;
      width: 32px;
    }
    &.icon-twitter-shadow {
      background-image: url("/assets/img/twitter-shadow-icon.svg");
      height: 32px;
      width: 32px;
    }
    &.icon-youtube-shadow {
      background-image: url("/assets/img/youtube-shadow-icon.svg");
      height: 32px;
      width: 32px;
    }
    &.icon-close {
      background-image: url("/assets/img/close-icon.svg");
    }
    &.icon-home {
      background-image: url("/assets/img/home-icon.svg");
    }
    &.icon-speech {
      background-image: url("/assets/img/speech-icon.svg");
    }
    &.icon-podcast {
      background-image: url("/assets/img/podcast-icon.svg");
    }
    &.icon-events {
      background-image: url("/assets/img/event-icon.svg");
    }
    &.icon-gear {
      background-image: url("/assets/img/gear-icon.svg");
    }
    &.icon-spotify {
      background-image: url("/assets/img/spotify_icon.png");
      margin-right: 20px;
      height: 20px;
      width: 20px;
    }
    &.icon-soundcloud {
      background-image: url("/assets/img/soundcloud_icon.png");
      width: 34px;
      margin-bottom: -5px;
    }
    &.icon-apple-podcasts {
      background-image: url("/assets/img/apple-podcast_icon.png");
      margin-right: 20px;
      height: 20px;
      width: 20px;
    }
    &.icon-github {
      background-image: url("/assets/img/github-icon.svg");
      height: 32px;
      width: 32px;
    }
    &.icon-facebook {
      background-image: url("/assets/img/facebook-icon.svg");
      height: 32px;
      width: 32px;
    }
    &.icon-twitter {
      background-image: url("/assets/img/twitter-icon.svg");
      height: 32px;
      width: 32px;
    }
    &.icon-instagram {
      background-image: url("/assets/img/instagram-icon.svg");
      height: 32px;
      width: 32px;
    }
    &.icon-instagram {
      background-image: url("/assets/img/instagram-icon.svg");
      height: 32px;
      width: 32px;
    }
    &.icon-youtube {
      background-image: url("/assets/img/youtube-icon.svg");
      height: 32px;
      width: 32px;
    }
    &.icon-email {
      background-image: url("/assets/img/email-icon.svg");
      height: 20px;
      width: 20px;
    }
    &.icon-phone {
      background-image: url("/assets/img/phone-icon.svg");
      height: 20px;
      width: 20px;
    }
    &.icon-play {
      background-image: url("/assets/img/play-button.svg");
      margin: 0;
      height: 84px;
      width: 84px;
    }
}