.icon {
    margin-right: 12px;
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
    background-size: contain;
    &.icon-messenger {
      background-image: url("/assets/img/messenger.svg");
    }
    &.icon-mail {
      background-image: url("/assets/img/mail.svg");
    }
    &.icon-arrow-down {
      background-image: url("/assets/img/arrow-down.svg");
      height: 14px;
      width: 26px;
    }
    &.icon-arrow-up {
      background-image: url("/assets/img/arrow-up.svg");
      height: 14px;
      width: 26px;
    }
}