@import "colors";
// Desktop
@media (min-width: 992px) {
  .navbar {
    .container-fluid {
      padding-right: 0;
    }
    .lang-nav {
      padding: 10px 32px;
      justify-content: end;
      a {
        font-size: 14px;
        color: $pirate-gray;
        &.active {
          color: $pirate-orange;
        }
      }
    }
    .nav-options {
      background-color: $pirate-dark-black;
    }
    .pirate-nav {
      .nav-item {
        padding: 10px 32px 14px 32px;
        font-size: 20px;
        font-weight: 700;
      }
    }
    .dropdown {
      .dropdown-menu {
        box-shadow: inset 5px 20px 25px -15px $pirate-dark-black;
        border: 0;
        padding: 25px 8px 10px 10px;
        transition: all 0.2s ease-in;
        opacity: 0;
        left: 10px;
        display: block;
        visibility: hidden;
        &.show {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
// Mobile
@media (max-width: 991px) {
  .navbar {
    .navbar-inner-background {
      background: black;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .nav-options {
      background-color: $pirate-black;
    }
    .lang-nav {
      flex-direction: row;
      a {
        padding: 25px 15px 25px 30px;
      }
    }
    .pirate-nav {
      li {
        border-top: 1px solid #616467;

        > a {
          padding: 25px 15px 25px 30px;
          color: $pirate-white;
        }
      }
    }
    .dropdown-menu {
      background-color: inherit;
      .dropdown-item {
        padding: 10px 10px 15px 35px;
        color: $pirate-white;
      }
      .dropdown-item:hover {
        background-color: inherit;
      }
    }
    .navbar-toggler {
      padding-top: 17px;
      &:not(.collapsed) {
        .icon-bar {
          &:nth-child(1) {
            transform: rotate(-45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(45deg);
          }
        }
      }
      .icon-bar + .icon-bar {
        margin-top: 4px;
      }
      .icon-bar {
        transition: transform 0.2s;
        height: 3px;
        width: 22px;
        border-radius: 1px;
        transform-origin: 21px;
        position: relative;
        display: block;
        background: $pirate-white;
      }
    }
  }
}
