.news {
    position: relative;
    max-width: 1300px;
    .swiper-slide {
        width: 250px;
        height: 350px;
        &.split {
            height: 450px;
            .news-box {
                height: calc(50% - 30px);
                margin-top: 30px;
            }
        }
    }
    .news-box {
        background: $pirate-purple;
        height: 100%;
        margin: 65px 0 20px;
    }
}