.news {
  position: relative;
  .swiper-slide {
    background: $pirate-dark-black;
    color: $pirate-white;
    max-width: 355px;
    margin-right: 25px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    @media (max-width: 420px) {
      margin-right: 10px;
      max-width: 300px;
    }
    &.podcast {
      .category {
        background-color: $pirate-purple;
      }
      .title:after {
        background-color: $pirate-purple;
      }
    }
    &.post {
      .category {
        background-color: $pirate-orange;
      }
      .title:after {
        background-color: $pirate-orange;
      }
    }
    &.article {
      .category {
        background-color: $pirate-caribbean-blue;
      }
      .title:after {
        background-color: $pirate-caribbean-blue;
      }
    }
  }
  .news-card {
    height: 100%;
    min-height: 400px;
    padding: 1em 0;

    &:hover {
      text-decoration: none;
    }

    .category {
      padding: 0.5rem 2rem;
    }
    .lower {
      padding: 0 1.5rem;
      box-shadow: 0 -40px 25px 25px rgba(77,77,77,0.35),inset 0px 60px 60px 10px rgba(77,77,77,0.35);
      background: linear-gradient(0deg, black 0, transparent 90%);
      .box-shadow {
        box-shadow: 0 10px 20px 30px rgba(0, 0, 0, 0.87),inset 0px 60px 60px 10px rgba(0, 0, 0, 0.87);
      }
      .title {
        h3 {
          overflow: hidden;
          font-size: 24px;
          @media (max-width: 420px) {
            font-size: 20px;
          }
        }
        &:after {
          content: "";
          display: block;
          height: 5px;
          position: relative;
          width: 45%;
          margin: 0 -1.5rem 0.5rem;
        }
      }
    }
  }
}

.news-filters {
  letter-spacing: 1.2px;
  color: $pirate-white;
  text-align: center;
  ul {
    margin-bottom: 2rem;
    li {
      display: inline-block;
      margin-right: 1.5em;
      .underline {
        color: inherit;
        &:hover {
          text-decoration: none;
        }
        &.active {
          color: inherit;
          &[data-category="podcast"]::before {
            border-color: $pirate-purple;
          }
          &[data-category="article"]::before {
            border-color: $pirate-caribbean-blue;
          }
          &[data-category="post"]::before {
            border-color: $pirate-orange;
          }
          &::before {
            display: block;
            position: relative;
            top: 30px;
            border-bottom: 3px solid $pirate-white;
            content: "";
          }
        }
      }
    }
  }
}