.newsfeed-posts {
  .swiper-slide {
    max-width: 360px;
    margin: 0 30px 30px 0;
    min-height: 200px;
    height: auto;
    padding: 1em 1.5em;
  }
  .swiper-button-below {
    position: relative;
    &.swiper-button-disabled {
      display: block;
    }
  }
}
