.representative {
  .profile {
    background-color: $pirate-white;
    margin: 20px auto;
    padding: 40px 0;
    max-width: 1400px;
    .title {
      font-size: 56px;
      color: $pirate-gray;
    }
    .about {
      column-count: 3;
      margin-top: 26px;
    }
  }
}
