.representative-page {
  .profile {
    background-color: $pirate-white;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
     .title {
      font-size: 56px;
      color: $pirate-gray;
    }
    .about {
      margin-top: 26px;
      @media (min-width: 992px) {
        column-count: 3;
      }
    }
  }
}
