---
layout: default
class: about-page
---
{% if page.lang == 'en' %}
{% assign all_pages = site.pages-en %}
{% elsif page.lang == 'pl' %}
{% assign all_pages = site.pages-pl %}
{% else %}
{% assign all_pages = site.pages-is %}
{% endif %}

{% assign about_pages = all_pages | where: "category", "about" | sort: "weight" %}
{% assign policy_pages = all_pages | where: "category", "policy" | sort: "weight" %}
<nav class="representative-filters mt-5">
	<ul>
		<li {% if page.category == 'about' %} class="active" {% endif %}>
			<a href="{{ about_pages[0].url }}"
				class="underline category">{{ site.data.translations[page.lang].about_pirates }}</a>
			<div class="sub-menu">
				<ul>
					{% for p in about_pages %}
					<li>
						<a href="{{ p.url }}"class="underline representative {% if p.id == page.id %}active{% endif %}">{{ p.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</li>
		<li {% if page.category == 'policy' %} class="active" {% endif %}>
			<a href="{{ policy_pages[0].url }}" class="underline category">{{ site.data.translations[page.lang].policy }}</a>
			<div class="sub-menu">
				<ul>
					{% for p in policy_pages %}
					<li>
						<a href="{{ p.url }}" class="underline representative {% if p.id == page.id %}active{% endif %}">{{ p.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</li>
	</ul>
</nav>

<section class="container-fluid main-content mt-2 mb-3">
	<div class="container">
		<h1 class="title">{{ page.title }}</h1>
		{{ content }}
	</div>
</section>

	{% include event-carousel.html %}
	{% include cta-section.html %}
	{% include cta-buttons.html %}
