---
layout: default
class: administration-page
---
<nav class="representative-filters mt-5 container">
  <ul>
    <li class="active">
      <a href="#" class="underline category">{{ site.data.translations[page.lang].reps_all }}</a>
    </li>
		{% for board in site.data.administration %}
    <li>
      <a href="#" class="underline category"
        data-category="{{ board }}">{{ site.data.translations[page.lang][board] }}</a>
    </li>
		{% endfor %}
  </ul>
</nav>
{% include representative-list.html list=site.administration %}