---
layout: default
class: article-page
---
{% assign repspage = site.data.languages.url | append: "/" | append: site.data.translations[page.lang].reps_page %}
<section class="article-banner" style="background-image: url('{{ page.image }}');">
  <div class="title-wrapper">
    <h1 class="title">
      {{ page.title }}
    </h1>
  </div>
</section>
<nav class="representative-filters mt-5">
  <ul>
    <li>
      <a href="{{ repspage }}?category=parliament" class="underline category {% if page.category == 'parliament' %} active {% endif %}">{{ site.data.translations[page.lang].reps_parliament }}</a>
      <div class="sub-menu">
        {% assign reps = site.pages | where:"layout","representative" | where:"category", "parliament"| where:"lang", page.lang %}
        <ul>
          {% for rep in reps %}
          <li><a href="{{ rep.url }}" class="underline representative {% if page.representative == rep.representative %}active{% endif %}">{{ rep.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </li>
    <li {% if page.category == 'municipal' %} class="active" {% endif %}>
      <a href="{{ repspage }}?category=municipal" class="underline category">{{ site.data.translations[page.lang].reps_municipal }}</a>
      <div class="sub-menu">
        {% assign reps = site.pages | where: "layout","representative" | where: "category", "municipal" | where: "lang", page.lang %}
        <ul>
          {% for rep in reps %}
          <li><a href="{{ rep.url }}" class="underline representative {% if page.representative == rep.representative %}active{% endif %}">{{ rep.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </li>
  </ul>
</nav>
<section class="article container-fluid">
  <div class="row">
    <div class="col col-small col-3 d-none d-lg-block">
      <div class="heading">
        Mest lesið
      </div>
      </div>
      <div class="col col-main col-12 col-lg-6">
        <h2 class="title">{{ page.title }}</h2>
        <div class="sub-heading">
          {{ page.sub_heading }}
        </div>
        <div class="content">{{ page.content }}</div>
      </div>
      <div class="col col-small right col-3 d-none d-lg-block">
        <div class="heading">
          Nýtt efni
        </div>
        {% assign posts = site.posts | concat: site.articles | where_exp:"posts", "post.url != page.url" | sort: "date" | reverse %}
        {% for post in posts limit: 3%}
        <div class="news-card">
            <a href="{{ post.url }}" class="d-flex flex-column justify-content-between">
              <div class="image" style="background-image: url('{{ post.image }}');"></div>
              <div class="title w-100">{{ post.title }}</div>
            </a>
          </div>
        {% endfor %}
      </div>
  </div>
</section>

<section class="representative-articles other-articles mt-5 container-fluid">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% assign articles = site.articles | where:"category", page.category | where_exp:"article", "article.url != page.url" | sort: "date" | reverse %}
      {% for article in articles limit: 3 %}
      <div class="swiper-slide news-card">
        <a href="{{ article.url }}" class="d-flex flex-column justify-content-between">
          <div class="image" style="background-image: url('{{ article.image }}');"></div>
          <div class="lower flex-column d-flex">
            <span class="date">{{ article.date | date: "%d/%m/%y" }}</span>
            <div class="title w-100">{{ article.title }}</div>
            <p class="summary">{{ article.sub_heading }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>