---
layout: default
class: articles-page
---
<nav class="representative-filters mt-5 container">
  <ul>
    <li class="active">
      <a href="#" class="underline category">{{ site.data.translations[page.lang].reps_all }}</a>
    </li>
    <li>
      <a href="#" class="underline category"
        data-category="parliament">{{ site.data.translations[page.lang].reps_parliament }}</a>
      <div class="sub-menu">
        {% assign reps = site.representatives | where:"category", "parliament" | where:"lang", page.lang %}
        <ul>
          <li><a href="#" class="underline active representative">{{ site.data.translations[page.lang].reps_all }}</a>
          </li>
          {% for rep in reps %}
          <li><a href="#" class="underline representative"
              data-representative="{{ rep.representative }}">{{ rep.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </li>
    <li>
      <a href="#" class="underline category"
        data-category="municipal">{{ site.data.translations[page.lang].reps_municipal }}</a>
      <div class="sub-menu">
        {% assign reps = site.representatives | where: "category", "municipal" | where: "lang", page.lang %}
        <ul>
          <li><a href="#" class="underline active representative">{{ site.data.translations[page.lang].reps_all }}</a>
          </li>
          {% for rep in reps %}
          <li><a href="#" class="underline representative"
              data-representative="{{ rep.representative }}">{{ rep.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </li>
  </ul>
</nav>
<section class="container mt-5 representative-articles d-flex flex-wrap justify-content-between">
  {% assign articles = site.articles | concat: site.external-articles | sort: "date" | reverse %}
  {% for article in articles %}
  {% assign rep = site.representatives | where: "representative", article.representative %}
  <div class="swiper-slide news-card article" data-category="{{ rep[0].category }}"
    data-representative="{{ article.representative }}">
    <a {% if article.external_url %} href="{{ article.external_url }}" target="_blank" {% else %}
      href=" {{ article.url }}" {% endif %} class="d-flex flex-column justify-content-between">
      <div class="image" style="background-image: url('{{ article.image }}');"></div>
      <div class="lower flex-column d-flex">
        <span class="date">{{ article.date | date: "%d/%m/%y" }}</span>
        <div class="title w-100">{{ article.title }}</div>
        <p class="summary">{{ article.sub_heading }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>
