---
layout: default
class: article-page
---
{% assign representatives_page = site.pages | where: "layout", "representatives" | where: "lang", page.lang %}
{% assign representatives_page_url = representatives_page[0].url %}
{% assign representative = site.pages | where: "layout", "representative" | where: "representative", page.representative %}
{% assign category = representative[0].category %}
<nav class="representative-filters mt-5">
  <ul>
    <li>
      <a href="{{ representatives_page_url }}?category=parliament"
        class="underline category {% if category == 'parliament' %} active {% endif %}">{{ site.data.translations[page.lang].reps_parliament }}</a>
      <div class="sub-menu">
        {% assign reps = site.pages | where:"layout","representative" | where:"category", "parliament"| where:"lang", page.lang %}
        <ul>
          {% for rep in reps %}
          <li><a href="{{ rep.url }}"
              class="underline representative {% if page.representative == rep.representative %}active{% endif %}">{{ rep.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>
    <li {% if category == 'municipal' %} class="active" {% endif %}>
      <a href="{{ representatives_page_url
       }}?category=municipal" class="underline category">{{ site.data.translations[page.lang].reps_municipal }}</a>
      <div class="sub-menu">
        {% assign reps = site.pages | where: "layout","representative" | where: "category", "municipal" | where: "lang", page.lang %}
        <ul>
          {% for rep in reps %}
          <li>
            <a href="{{ rep.url }}" class="underline representative {% if page.representative == rep.representative %}active{% endif %}">{{ rep.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>
  </ul>
</nav>

{% include article-content.html %}

{% assign articles = site.articles | where:"representative", page.representative | where_exp:"article", "article.url != page.url" | sort: "date" | reverse %}
{% if articles.size > 0 %}
<section class="representative-articles other-articles mt-5 container-fluid">
  <div class="swiper-container container">
    <div class="swiper-wrapper">
      {% assign articles = site.articles | where:"representative", page.representative | where_exp:"article", "article.url != page.url" | sort: "date" | reverse %}
      {% for article in articles limit: 3 %}
      <div class="swiper-slide" style="background-image:url('{{ article.image }}');">
          <a href="{{ article.url }}" class="news-card-overlay d-flex flex-column justify-content-end">
            <div class="lower flex-column d-flex">
              <span class="row date"> {{ article.date | date: "%d/%m/%y" }}</span>
              <div class="row title">
                <h3 class="w-100 text-uppercase"> {{ article.title }}</h3>
              </div>
              <span class="row summary box-shadow">{{ article.sub_heading }}</span>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% assign all_articles = site.pages | where: "layout", "articles" | where: "lang", page.lang %}
  <div class="container text-center">
    <a href="{{ all_articles[0].url | append: "?category=" | append: category | append: "&representative=" | append: page.representative }}"
      class="see-all">{{ site.data.translations[page.lang].see_all_articles }}</a>
  </div>
</section>
{% endif %}

{% include cta-section.html %}

{% include cta-buttons.html %}
