---
layout: default
class: article-page
---
{% include representative-filters.html %}
{% include article-content.html %}

{% assign articles = site.articles | where:"representative", page.representative | where_exp:"article", "article.url != page.url" | sort: "date" | reverse %}
{% if articles.size > 0 %}
<section class="representative-articles other-articles mt-5 container-fluid">
  <div class="swiper-container container">
    <div class="swiper-wrapper">
      {% assign articles = site.articles | where:"representative", page.representative | where_exp:"article", "article.url != page.url" | sort: "date" | reverse %}
      {% for article in articles limit: 3 %}
      <div class="swiper-slide" style="background-image:url('{{ article.image }}');">
          <a href="{{ article.url }}" class="news-card-overlay d-flex flex-column justify-content-end">
            <div class="lower flex-column d-flex">
              <span class="row date"> {{ article.date | date: "%d/%m/%y" }}</span>
              <div class="row title">
                <h3 class="w-100 text-uppercase"> {{ article.title }}</h3>
              </div>
              <span class="row summary box-shadow">{{ article.sub_heading }}</span>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% assign all_articles = site.pages | where: "layout", "articles" | where: "lang", page.lang %}
{% assign all_articles = all_articles[0].url | append: "?category=" | append: category | append: "&representative=" | append: page.representative %}
{% include see-all-articles.html url=all_articles_url %}
</section>
{% endif %}

{% include cta-section.html %}

{% include cta-buttons.html %}
