---
layout: default
class: events-page
---

<section class="container-fluid event-listing">
	<h2>Viðburðir framundan</h2>
</section>

<script type="text/template" data-template="event">
	<div class="event my-3" id="slide-${id}">
		<div class="row">
			<div class="col-md-3">
				<div class="date">${dateLong}</div>
				<div class="time">${time}</div>
			</div>
			<div class="col-md-9">
				<h3 class="title">${title}</h3>
				<div class="description">${description}</div>
			</div>
		</div>
	</div>
</script>

