---
layout: default
class: events-page
---
<link href="https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css" rel="stylesheet" />
<link href="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css" rel="stylesheet" />
<link href="https://unpkg.com/@fullcalendar/list@4.3.0/main.css" rel="stylesheet" />
<script src="https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/list@4.3.0/main.js"></script>
{% if page.lang == 'is' %}
<script src="https://unpkg.com/@fullcalendar/core@4.3.1/locales/is.js"></script>
{% elsif page.lang == 'pl' %}
<script src="https://unpkg.com/@fullcalendar/core@4.3.1/locales/pl.js"></script>
{% endif %}

{% if page.lang == 'en' %}
{% assign all_pages = site.pages-en %}
{% elsif page.lang == 'pl' %}
{% assign all_pages = site.pages-pl %}
{% else %}
{% assign all_pages = site.pages-is %}
{% endif %}
{% assign events_page = all_pages | where: "category", "events" %}
{% assign tortuga_page = all_pages | where: "category", "tortuga" %}
<nav class="representative-filters mt-5">
	<ul>
		<li {% if page.category == 'events' %} class="active" {% endif %}>
			<a href="{{ events_page[0].url }}" class="underline category">{{ events_page[0].title }}</a>
		</li>
		<li {% if page.category == 'tortuga' %} class="active" {% endif %}>
			<a href="{{ tortuga_page[0].url }}" class="underline category">{{ tortuga_page[0].title }}</a>
		</li>
	</ul>
</nav>
<section class="container event-listing">
	<div id="calendar" class="mt-5">
	</div>
</section>

{% include event-carousel.html %}

{% include cta-section.html %}
{% include cta-buttons.html %}