---
layout: default
class: files-page
---
<section class="container-fluid main-content mt-2 mb-3">
	<div class="container">
		{% include page-title.html title = page.title %}
		{% if page.content %}
		<div class="content">
			{{ content }}
		</div>
		{% endif %}
		<div class="files mb-2">
			{% for file in page.files %}
			{% if file.title %}
			{% assign title = file.title %}
			{% else %}
			{% assign title = file.file | remove: "/uploads/" %}
			{% endif %}
			<div class="file py-3">
				<a href="{{ file.file }}" target="_blank">{{ title }}</a>
				{% if file.description %}
				<p class="description">{{ file.description }}</p>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
</section>

{% include cta-section.html %}
{% include cta-buttons.html %}