---
layout: default
---

<script type="text/template" data-template="post">
  <div class="post">
    <a href="${url}" class="news-card d-flex flex-column justify-content-between">
      <div class="row upper">
        <div class="category">Fræðsla</div>
      </div>
      <div class="lower flex-column d-flex">
        <span class="row date">${date}</span>
        <div class="row title">
          <h3 class="w-100 text-uppercase">${title}</h3>
        </div>
        <span class="row summary">${summary}</span>
      </div>
    </a>
  </div>
</script>
<script type="text/template" data-template="spreaker">
  <div class="spreaker">
    <a href="${url}" target="_blank" class="news-card d-flex flex-column justify-content-between">
      <div class="row upper">
        <div class="category">Hlaðvarp</div>
      </div>
      <div class="lower flex-column d-flex">
        <span class="row date">${date}</span>
        <div class="row title">
          <h3 class="w-100 text-uppercase">${title}</h3>
        </div>
        <div class="row">
          <img height="22" src="/assets/img/spotify_icon.png" alt="Spotify"/>
        </div>
      </div>
    </a>
  </div>
</script>

<div class="container newsfeed-posts">
</div>
