---
layout: default
class: representative-page
---

{% include representative-filters.html %}

<section class="profile container-fluid mt-lg-5 mb-5">
  <div class="container">
    <h2 class="title">{{ page.title }}</h2>
    <h4 class="heading">{{ page.description }}</h4>
    <div class="about">
      {{ page.content }}
    </div>
  </div>
</section>

{% if page.social %}
<section class="social container mt-4 d-flex justify-content-center">
  {% if page.social.twitter %}
  <a class="icon icon-twitter-shadow mr-4" href="{{ page.social.twitter }}"><span class="sr-only">Twitter</span></a>
  {% endif %}
  {% if page.social.instagram %}
  <a class="icon icon-instagram-shadow mr-4" href="{{ page.social.instagram }}"><span class="sr-only">Instagram</span></a>
  {% endif %}
  {% if page.social.facebook %}
  <a class="icon icon-facebook-shadow" href="{{ page.social.facebook }}"><span class="sr-only">Facebook</span></i></a>
  {% endif %}
</section>
{% endif %}

{% assign articles = site.articles | where:"representative", page.representative %}
{% if articles.size > 0 %}

{% if page.lang == 'en' %}
{% assign all_pages = site.pages-en %}
{% elsif page.lang == 'pl' %}
{% assign all_pages = site.pages-pl %}
{% else %}
{% assign all_pages = site.pages-is %}
{% endif %}

<section class="representative-articles container-fluid mt-5 news">
  <div class="swiper-container container">
    <div class="swiper-wrapper">
      {% for article in articles limit: 3 %}
      <div class="swiper-slide" style="background-image: url('{{ article.image }}');">
        <a href="{{ article.url }}"  class="d-flex news-card-overlay flex-column justify-content-end">
          <div class="lower flex-column d-flex">
            <span class="date">{{ article.date | date: "%d/%m/%y" }}</span>
            <div class="title w-100"><h3>{{ article.title }}</h3></div>
            <p class="summary">{{ article.sub_heading }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  {% assign all_articles = all_pages | where: "layout", "articles" %}
  {% assign all_articles_url = all_articles[0].url | append: "?category=" | append: page.category | append: "&representative=" | append: page.representative %}
  {% include see-all-articles.html url=all_articles_url %}
</section>
{% endif %}
{% include cta-section.html %}

{% include cta-buttons.html %}
