---
layout: default
class: representative-page
---

{% include representative-filters.html %}

<section class="profile container-fluid p-2 p-lg-5">
  <div class="container">
    <h1 class="title font-weight-bold mt-3 mt-lg-4">{{ page.title }}</h1>
    <h4 class="heading">
      <span>{{ page.description }}</span>
      <span>{{ page.details }}</span>
    </h4>
    <div class="row mt-3 mt-lg-5">
      <div class="col-xs-12 col-lg-9">
        <div class="about content">
          {{ page.content }}
        </div>
      </div>
      <div class="rep-info col-xs-12 col-lg-3 d-flex mb-2 mb-lg-0 flex-column">
        {% if page.roles %}
        <div class="roles">
          <h3 class="heading mb-4">{{ site.data.translations[page.lang].roles }}</h3>
          <ul>
            {% for role in page.roles %}
            <li class="role my-sm-4 my-2">
              {% if role.url %}
              <a href="{{ role.url }}" target="_blank">
                {% else %}
                <span>
                  {% endif %}
                  {{ role.title }}
                  {% if role.url %}
              </a>
              {% else %}
              </span>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if page.external %}
        <a href="{{ page.external }}" target="_blank"
          class="more-info mt-2 mt-lg-5 d-flex">{{ site.data.translations[page.lang].see_details }}<div
            class="icon icon-arrow-right ml-3"></div></a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section class="rep-contact container mt-5">
  <div class="row justify-content-center">
    {% if page.social %}
    <div class="col-12 col-lg-3 p-4 d-flex flex-column justify-content-center">
      <h4 class="text-center mb-3">Fylgstu með</h4>
      <div class="icons d-flex justify-content-center">
        {% if page.social.twitter %}
        <a class="icon icon-twitter-orange mx-3" href="{{ page.social.twitter }}"><span
            class="sr-only">Twitter</span></a>
        {% endif %}
        {% if page.social.instagram %}
        <a class="icon icon-instagram-orange mx-3" href="{{ page.social.instagram }}"><span
            class="sr-only">Instagram</span></a>
        {% endif %}
        {% if page.social.facebook %}
        <a class="icon icon-facebook-orange mx-3" href="{{ page.social.facebook }}"><span
            class="sr-only">Facebook</span></i></a>
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% if page.email and page.email != '' %}
    <div class="col-12 col-lg-3 p-4 d-flex flex-column justify-content-center">
      <h4 class="text-center mb-3">Hafðu samband</h4>
      <div class="d-flex justify-content-center">
        <a href="mailto:{{ page.email }}" class="email">
          <div class="icon icon-email-orange align-self-center"></div>
        </a>
      </div>
    </div>
    {% endif %}
  </div>
</section>

{% assign articles = site.articles | where:"representative", page.representative %}
{% if articles.size > 0 %}

{% if page.lang == 'en' %}
{% assign all_pages = site.pages-en %}
{% elsif page.lang == 'pl' %}
{% assign all_pages = site.pages-pl %}
{% else %}
{% assign all_pages = site.pages-is %}
{% endif %}

<section class="representative-articles container-fluid mt-5 news">
  <div class="swiper-container container">
    <div class="swiper-wrapper">
      {% for article in articles limit: 3 %}
      <div class="swiper-slide" style="background-image: url('{{ article.image }}');">
        <a href="{{ article.url }}" class="d-flex news-card-overlay flex-column justify-content-end">
          <div class="lower flex-column d-flex">
            <span class="date">{{ article.date | date: "%d/%m/%y" }}</span>
            <div class="title w-100">
              <h3>{{ article.title }}</h3>
            </div>
            <p class="summary">{{ article.sub_heading }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  {% assign all_articles = all_pages | where: "layout", "articles" %}
  {% assign all_articles_url = all_articles[0].url | append: "?category=" | append: page.category | append: "&representative=" | append: page.representative %}
  {% assign all_articles_text = site.data.translations[page.lang].see_all_articles %}
  {% include see-all-articles.html url=all_articles_url text=all_articles_text %}
</section>
{% endif %}
{% include cta-section.html %}

{% include cta-buttons.html %}